/* Fonts */
@font-face {
  font-family: 'alternate';
  src: url("../fonts/alternate/alternate.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/alternate/alternate?#iefix") format("embedded-opentype"), 
       url("../fonts/alternate/alternate.ttf") format("truetype"), 
       url("../fonts/alternate/alternate.woff") format("woff"), 
       url("../fonts/alternate/alternate.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'Ailerons-Regular';
  src: url("../fonts/Ailerons-Regular/Ailerons-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Ailerons-Regular/Ailerons-Regular?#iefix") format("embedded-opentype"), 
       url("../fonts/Ailerons-Regular/Ailerons-Regular.ttf") format("truetype"), 
       url("../fonts/Ailerons-Regular/Ailerons-Regular.woff") format("woff"), 
       url("../fonts/Ailerons-Regular/Ailerons-Regular.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'Aileron-Regular';
  src: url("../fonts/Aileron-Regular/Aileron-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Aileron-Regular/Aileron-Regular?#iefix") format("embedded-opentype"), 
       url("../fonts/Aileron-Regular/Aileron-Regular.ttf") format("truetype"), 
       url("../fonts/Aileron-Regular/Aileron-Regular.woff") format("woff"), 
       url("../fonts/Aileron-Regular/Aileron-Regular.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'Aileron-Bold';
  src: url("../fonts/Aileron-Bold/Aileron-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Aileron-Bold/Aileron-Bold?#iefix") format("embedded-opentype"), 
       url("../fonts/Aileron-Bold/Aileron-Bold.ttf") format("truetype"), 
       url("../fonts/Aileron-Bold/Aileron-Bold.woff") format("woff"), 
       url("../fonts/Aileron-Bold/Aileron-Bold.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'Aileron-Black';
  src: url("../fonts/Aileron-Black/Aileron-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Aileron-Black/Aileron-Black?#iefix") format("embedded-opentype"), 
       url("../fonts/Aileron-Black/Aileron-Black.ttf") format("truetype"), 
       url("../fonts/Aileron-Black/Aileron-Black.woff") format("woff"), 
       url("../fonts/Aileron-Black/Aileron-Black.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'Aileron-Light';
  src: url("../fonts/Aileron-Light/Aileron-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Aileron-Light/Aileron-Light?#iefix") format("embedded-opentype"), 
       url("../fonts/Aileron-Light/Aileron-Light.ttf") format("truetype"), 
       url("../fonts/Aileron-Light/Aileron-Light.woff") format("woff"), 
       url("../fonts/Aileron-Light/Aileron-Light.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'Aileron-UltraLight';
  src: url("../fonts/Aileron-UltraLight/Aileron-UltraLight.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Aileron-UltraLight/Aileron-UltraLight?#iefix") format("embedded-opentype"), 
       url("../fonts/Aileron-UltraLight/Aileron-UltraLight.ttf") format("truetype"), 
       url("../fonts/Aileron-UltraLight/Aileron-UltraLight.woff") format("woff"), 
       url("../fonts/Aileron-UltraLight/Aileron-UltraLight.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'Aileron-SemiBold';
  src: url("../fonts/Aileron-SemiBold/Aileron-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Aileron-SemiBold/Aileron-SemiBold?#iefix") format("embedded-opentype"), 
       url("../fonts/Aileron-SemiBold/Aileron-SemiBold.ttf") format("truetype"), 
       url("../fonts/Aileron-SemiBold/Aileron-SemiBold.woff") format("woff"), 
       url("../fonts/Aileron-SemiBold/Aileron-SemiBold.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}

@font-face {
  font-family: 'Aileron-Heavy';
  src: url("../fonts/Aileron-Heavy/Aileron-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Aileron-Heavy/Aileron-Heavy?#iefix") format("embedded-opentype"), 
       url("../fonts/Aileron-Heavy/Aileron-Heavy.ttf") format("truetype"), 
       url("../fonts/Aileron-Heavy/Aileron-Heavy.woff") format("woff"), 
       url("../fonts/Aileron-Heavy/Aileron-Heavy.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular?#iefix") format("embedded-opentype"), 
       url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"), 
       url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), 
       url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg") format("svg");
  font-style: normal;
  font-weight: normal; 
}
/* Animations */
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}



@-webkit-keyframes bounceIn_custom {
	0% {
		-webkit-transform: scale(1);
	}

	25% {
		-webkit-transform: scale(.8);
	}

	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn_custom {
	0% {
		-moz-transform: scale(1);
	}

	25% {
		-moz-transform: scale(.8);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn_custom {
	0% {
		-o-transform: scale(1);
	}

	25% {
		-o-transform: scale(.8);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn_custom {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(.8);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}

a.bounceIn:hover img {
	-webkit-animation: bounceIn_custom .7s ease-in-out;
	-moz-animation:bounceIn_custom .7s ease-in-out;
	-o-animation: bounceIn_custom .7s ease-in-out;
	animation: bounceIn_custom .7s ease-in-out;
}


.top-spacing1 {
  margin-top: 5px;
}
.top-spacing2 {
  margin-top: 10px;
}
.top-spacing3 {
  margin-top: 20px;
}
.top-spacing4 {
  margin-top: 30px;
}
.top-spacing5 {
  margin-top: 40px;
}
.top-spacing6 {
  margin-top: 50px;
}
.bottom-spacing1 {
  margin-bottom: 10px;
}
.bottom-spacing2 {
  margin-bottom: 20px;
}
.bottom-spacing3 {
  margin-bottom: 30px;
}

.no-margin{
    margin: 0;
}

.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding-right{  
  padding-right: 0px;
}

.no-padding-left{  
  padding-left: 0px;
}


.text-white{
	color: #ffffff;
}

.text-black{
	color: #000;
}

.text-black2{
	color: rgba(70, 70, 70, 0.80)
}

.text-gray{
	color: #a0a0a0;
}

.text-gray2{
	color: #4d4d4d;
}

.text-white2{
	color: rgba(255, 255, 255, 0.50);
}


.text-enlace{
	text-decoration: none;
	color: #ffffff;
}

.text-enlace:hover{
	text-decoration: none;
	color: #858585;
}

.text-enlace2{
	text-decoration: none;
	color: #858585;
}

.text-enlace2:hover{
	text-decoration: none;
	color: #fff;
}

.text-enlace3{
	text-decoration: none;
	color: #000;
}

.text-enlace3:hover{
	text-decoration: none;
	color: #9e9d9d;
}

.text-line-height15{
	line-height: 15px;
}

.text-line-height20{
	line-height: 20px;
}

.text-line-height30{
	line-height: 25px;
}

/* FONTS*/


/* MYRIADPRO REGULAR*/

.text-myriadpror21{
	font: 21px/15px 'MyriadPro-Regular';
}

.text-myriadpror16{
	font: 16px/15px 'MyriadPro-Regular';
}


/* AILERON REGULAR*/
.text-aileronr10{
	font: 10px/15px 'Aileron-Regular';
}

.text-aileronr11{
	font: 11px/15px 'Aileron-Regular';
}

.text-aileronr1158{
	font: 11.58px/15px 'Aileron-Regular';
}

.text-aileronr12{
	font: 12px/15px 'Aileron-Regular';
}

.text-aileronr13{
	font: 13px/20px 'Aileron-Regular';
}

.text-aileronr14{
	font: 14px/15px 'Aileron-Regular';
}

.text-aileronr145{
	font: 14.5px/20px 'Aileron-Regular';
}

.text-aileronr16{
	font: 16px/15px 'Aileron-Regular';
}

.text-aileronr18{
	font: 18px/15px 'Aileron-Regular';
}

/* AILERONS REGULAR*/

.text-aileronr22{
	font: 22px/15px 'Ailerons-Regular';
}

.text-aileronr34{
	font: 34px/15px 'Ailerons-Regular';
}

.text-aileronr88{
	font: 88px 'Ailerons-Regular';
	letter-spacing: -0.5cm;
}

/* AILERON BOLD*/

.text-aileronb11{
	font: 11px/15px 'Aileron-Bold';
}

.text-aileronb14{
	font: 14px/15px 'Aileron-Bold';
}

.text-aileronb16{
	font: 16px/15px 'Aileron-Bold';
}

.text-aileronb1737{
	font: 17.37px/15px 'Aileron-Bold';
}

.text-aileronb18{
	font: 18px/15px 'Aileron-Bold';
}

.text-aileronb2413{
	font: 24.13px/20px 'Aileron-Bold';
}

.text-aileronb25{
	font: 25px/20px 'Aileron-Bold';
}

.text-aileronb30{
	font: 30px/20px 'Aileron-Bold';
}

.text-aileronb34{
	font: 34px/20px 'Aileron-Bold';
}

/* AILERON BLACK*/
.text-aileronbl21{
	font: 21px/20px 'Aileron-Black';
}


/* AILERON SEMIBOLD*/

.text-aileronsb12{
	font: 12px/20px 'Aileron-SemiBold';
}

.text-aileronsb13{
	font: 13px/20px 'Aileron-SemiBold';	
}

.text-aileronsb14{
	font: 14px/20px 'Aileron-SemiBold';
}

.text-aileronsb16{
	font: 16px/20px 'Aileron-SemiBold';
}

.text-aileronsb18{
	font: 18px/15px 'Aileron-SemiBold';
}

/* AILERON HEAVY*/
.text-ailerohb18{
	font: 18px/20px 'Aileron-Heavy';
}

.text-ailerohb16{
	font: 16px/20px 'Aileron-Heavy';
}

/* AILERON ULTRALIGHT*/
.text-aileroul34{
	/*font: 34px/30px 'Aileron-UltraLight';*/
	font: 2em/2em 'Aileron-UltraLight';
}

.text-aileroul16{
	font: 16px/20px 'Aileron-UltraLight';
}

.text-aileroul14{
	font: 14px/20px 'Aileron-UltraLight';
}

/* AILERON LIGHT*/
.text-ailerol16{
	font: 16px/20px 'Aileron-Light';
}

.text-ailerol14{
	font: 14px/20px 'Aileron-Light';
}

.text-ailerol12{
	font: 12px/20px 'Aileron-Light';
}

.text-ailerol13{
	font: 13px/25px 'Aileron-Light';
}

.text-ailerol1315{
	font: 13px/15px 'Aileron-Light';
}

.text-ailerol34{
	font: 34px/30px 'Aileron-Light';
}


/* ALTERNATIVE*/
.text-alternative115{
	font: 115px/15px 'alternate';
}

.text-alternative88{
	font: 88px/15px 'alternate';
}
.text-tahoma12{
	 font: 12px/10px "Tahoma";
}